#favorites-container { 
    #share-container {
        margin-top: 40px;
    }

    i.remove {
        margin-left: 1px;
    }

    #add-email-btn {
        margin-bottom: 15px;
        margin-top: 10px;
    }
}
